<mat-toolbar color="primary">
  <div>
    <button mat-icon-button>
      <mat-icon
        *ngIf="authService.getSignedInUser()"
        (click)="authService.signOut()"
        matTooltip="sign out"
        >exit_to_app</mat-icon
      >
    </button>
  </div>
  <div>
    <button mat-icon-button>
      <mat-icon
        *ngIf="authService.getSignedInUser()"
        matTooltip="create"
        (click)="openContentCreationModal()"
        >launch</mat-icon
      >
    </button>
    <button mat-icon-button>
      <mat-icon
        [routerLink]="['/super-powers-display']"
        matTooltip="view super powers"
        >whatshot</mat-icon
      >
    </button>
    <button mat-icon-button>
      <mat-icon
        [routerLink]="['/super-heroes-display']"
        matTooltip="view super heroes"
        >people</mat-icon
      >
    </button>
  </div>
</mat-toolbar>
