<form [formGroup]="superHeroCreationForm" (ngSubmit)="createSuperHero()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Super Powers</mat-label>
    <mat-select formControlName="superPowers" multiple>
      <mat-option *ngFor="let superPower of superPowers" [value]="superPower">{{
        superPower.power
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
