<mat-card>
  <mat-card-content>
    <form [formGroup]="userRegistrationForm">
      <div class="form-fields-main-container">
        <div class="form-inputs-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="userRegistrationForm.get('name')?.hasError('required')">Please enter your name</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your surname</mat-label>
            <input matInput formControlName="surname" />
            <mat-error *ngIf="userRegistrationForm.get('surname')?.hasError('required')">Please enter your surname</mat-error>
          </mat-form-field>
        </div>
        <div class="form-inputs-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your age</mat-label>
            <input matInput formControlName="age" />
            <mat-error *ngIf="userRegistrationForm.get('age')?.hasError('required')">Please specify your age</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your gender</mat-label>
            <input matInput formControlName="gender" />
            <mat-error *ngIf="userRegistrationForm.get('gender')?.hasError('required')">Please select your gender</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="userRegistrationForm.get('email')?.hasError('required')">Please enter your email.</mat-error>
          <mat-error *ngIf="userRegistrationForm.get('email')?.hasError('email')">Please enter a valid email.</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
