<ng-container *ngIf="spinnerIsActive">
  <ng-container *ngTemplateOutlet="spinnerContainer"></ng-container>
</ng-container>

<ng-container *ngIf="!spinnerIsActive">
  <ng-container
    *ngTemplateOutlet="userRegistrationFormContainer"
  ></ng-container>
</ng-container>

<ng-template #spinnerContainer>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #userRegistrationFormContainer>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userRegistrationForm" (ngSubmit)="registerUser()">
        <div class="form-fields-main-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="email" />
            <mat-error
              *ngIf="userRegistrationForm.get('email')?.hasError('required')"
              >Please enter your email.</mat-error
            >
            <mat-error
              *ngIf="userRegistrationForm.get('email')?.hasError('email')"
              >Please enter a valid email.</mat-error
            >
          </mat-form-field>
          <div class="form-inputs-container">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" />
              <mat-error
                *ngIf="
                  userRegistrationForm.get('password')?.hasError('passwordIsValidated')
                "
                >Password must have 7 or more characters</mat-error
              >
              <mat-error
              *ngIf="
                userRegistrationForm.get('password')?.hasError('required')
              "
              >Please enter your password</mat-error
            >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Confirmation password</mat-label>
              <input
                matInput
                formControlName="passwordConfirmation"
                type="password"
              />
              <mat-error
                *ngIf="
                  userRegistrationForm
                    .get('passwordConfirmation')
                    ?.hasError('required')
                "
                >Please confirm your password
              </mat-error>
              <mat-error *ngIf="userRegistrationForm.errors?.passwordsDontMatch"
                >Please ensure that your passwords match
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!userRegistrationForm.valid"
          class="registration-button"
        >
          register
        </button>
      </form>
      <div class="auth-prompt-container" (click)="switchAuthScreen()">
        sign-in
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
